.App {
  height: 100vh;
  background-color: white;
  overflow: scroll;
  text-align: center;
	font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
}

.container {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.content-container
{
  display: block;
  margin-top:50px;
  margin-bottom: 15px;
  text-align: center;
}

.sub-text {
  font-size: 25px;
  color: black;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #21242b 30%, #21242b6b 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
	font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #4a63e2, #4a63e29e);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #4a63e2, #4a63e29e);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  width: 45%;
  height: 150px;
  font-size: 40px;
  border-radius: 100px;
	font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

  .mint-count {
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.loading
{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.loading > img
{
	width:30%;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
